{% extends 'layout.html' %}
{% block body_content %}

{% for players in all_players %}

<h2>{{ players.name }}</h2>
<form method= '' action='{{ url_for("update", idnum=players.id) }}'>
        <button>Update</button>
</form>

<form method= '' action='{{ url_for("delete", idnum=players.id) }}'>
        <button>Delete</button>
</form>

<form method= '' action='{{ url_for("add_review", idnum=players.id) }}'>
        <button>Add Review</button>
</form>

<form method= '' action='{{ url_for("reviews", idnum=players.id)}}'>
        <button>View Reviews</button>
</form>

{% endfor %}

{% endblock body_content %}

